@import url('https://fonts.googleapis.com/css?family=Roboto');

.body {
    font-size: 30px;
    font-family: Roboto;

}

.navbar {
    font-size: 20px;
    font-family: Roboto;
    padding: 0em;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.button {
    display:block;
    width:80px;
    height:80px;
    line-height:80px;
    font-family: Roboto;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#000000;
    text-align:center;
    text-decoration:none;
    background: #cfa855;
    box-shadow: 0 0 3px gray;
    font-size:10px;
    font-weight:bold;
  }

  .button:hover {
    background: #777555;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    height: 4em;
    font-family: arial;
    color: red;
    padding-left: 15px;
  }
  
  .flex-grid {
    display: flex;
    justify-content:space-around;
    font-family: Roboto;
    color: rgb(30, 255, 0);
    padding: 5px;
    font-size: 20px;
  }

  .answer {
    display: flex;
    padding: 50px;
    justify-content: center;
  }
  