@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.container {
}

@media screen and (max-width:660px){
    .container{
        width: 100%;
        background-color: rgb(0, 255, 55);
    } 
    }

@media screen and (max-width:660px){
    .container{
        width: 100%;
        background-color: rgb(255, 0, 13);
    } 
    }

@media screen and (max-width:450px){
.container{
    width: 100%;
    background-color: blue;
} 
}