@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.row {
  display: flex;
  line-height: 1.68;
}

.column {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left {
  /*   background: tomato; */
  height: 300px;
}

.right {
  /*   background: green; */
}

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  font-size: 3.68em;
  line-height: 1.4em;
}

.pullquote {
  color: #d3d3d3;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.68em;
}
